@page "/"

@using System.Drawing;
@using System.IO;
@using System.Net.Http
@using MessengerWeb.Client.Services

@inject IJSRuntime JSRuntime;
@inject HttpClient Http
@inject LivenessService LivenessService

<div>
    <h1>Video Test</h1>
</div>

<video id="video" width="640" height="480" autoplay></video>

<div>
    <button type="button" class="btn btn-primary" @onclick="StartVideo">Play</button>
    <button type="button" class="btn btn-primary" @onclick="TakePictureToExternalApi">Send to ext api</button>
</div>

  <canvas id="capturedImage" width="640" height="480" style="display: none"></canvas>
  <h1>Liveness: @LivenessResponse</h1>

@code {
    private string LivenessResponse { get; set; }
    private TimerAsync _timerAsync;

    protected override void OnInitialized()
    {
        _timerAsync = new TimerAsync(delay: 5000);
    }

    private async Task StartVideo()
    {
        await JSRuntime.InvokeVoidAsync("startVideo");
        await _timerAsync.Start(async () => await TakePictureToExternalApi());
    }

    private async Task TakePictureToExternalApi()
    {
        await JSRuntime.InvokeVoidAsync("Snap", "video", "capturedImage");
        var imageBytes = await JSRuntime.InvokeAsync<string>("GetImageData", "capturedImage", "image/jpeg");
        var liveness = await LivenessService.Get(imageBytes, Http);
        LivenessResponse = liveness.ToString();
        StateHasChanged();
    }
}